h1{
    text-align: center;
    font-size: 55px;
}

header{
    background-color: #1A06A3
}

header h1 {
    margin: 0;
}

html, body {
    margin: 0;
    padding: 0;
}

#teamForm{
    font-size: 18px;
}

#submitButton{
    font-size: 13px;
}